#NameInput {
  position: fixed;
  top: 20vh;
  width: 100vw;
  flex-flow: column;
  align-items: center;

  h1 {
    font-size: 6vh;
    margin: 4vh;
  }

  &>._input {
    text-align: center;
    font-family: 'Flappy';
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 50vh;
    font-size: 4vh;
    margin-bottom: 5vh;
  }
}