@use "../../../global.scss";


#Floor {
  position: fixed;
  width: 120vw;
  display: flex;
  flex-flow: row;

  @extend .backgroundImageRepeatX;
  background-image: url('../../../assets/gameSprites/floor.png');

}